{% extends 'base.html' %}
{% load static%}
<title>{% block title %}Home{% endblock %}</title>
{% block content %}
    {% if request.user.is_authenticated %}
        <h1 class="text-center">Welcome back {{ request.user.first_name }}</h1>
    {% else %}
        <h1 class="text-center">Welcome to StayEasy</h1>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
            

      <div class="row">
      {% for hotel in hotels %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow p-2">
                <a href="{% url 'hotel:hotel_detail' hotel.slug %}">
                <img class="card-img-top" src="{{hotel.image.url}}" alt="Card image cap">
                </a>
                <div class="card-body">
                  <p class="card-text">{{hotel.name}}</p>
                  <p class="card-text">{{hotel.address}}</p>
                  <p class="card-text">{{hotel.mobile}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'hotel:hotel_detail' hotel.slug %}"><button type="button"  class="btn btn-sm btn-outline-secondary">View</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">{{hotel.data}}</small>
                  </div>
                </div>
              
              
            </div>
          </div>  
      {% endfor %}  
      </div>
{% endblock %}    
    
</body>
</html>