{% extends 'base.html' %}
{% load static %}
    <title>{% block title %}Register Form{% endblock %}</title>


{% block content %}
    <h2 class="text-center">Welcome to Register</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-danger">{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if form.errors %}
        <div  class="alert">
            <ul>
                {% for error in field.errors %}
                    <li class="alert alert-primary">{{ error }}</li>
                        
                {% endfor %}
                
                {% for error in form.non_field_errors %}
                    <li class="alert alert-primary">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}    
<section class="container d-flex justify-content-center align-items-center ">
    <div class="card p-4 shadow-lg ">
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <label for="id_first_name">First name:</label>
                <input type="text" name="first_name" placeholder="Enter Your Firstname" class="form-control" required id="id_first_name">
            </p>             
            <p>
                <label for="id_last_name">Last name:</label>
                <input type="text" name="last_name" placeholder="Enter Your Lastname" class="form-control" required id="id_last_name">
            
            </p>        
            <p>
                <label for="id_phone">Phone:</label>
                <input type="text" name="phone" placeholder="Enter Your Phone Number" class="form-control" required id="id_phone">
            </p>         
            <p>
                <label for="id_username">Username:</label>
                <input type="text" name="username" placeholder="Enter Your Username" class="form-control" required id="id_username">
            </p>
            <p>
                <label for="id_email">Email:</label>
                <input type="text" name="email" placeholder="Enter Your Email" class="form-control" autofocus required id="id_email">
            </p>
            <p>
                <label for="id_password1">Password:</label>
                <input type="password" name="password1" placeholder="Enter Your Password" class="form-control" required id="id_password1">
            </p>
            <p>
                <label for="id_password2">Confirm Your Password:</label>
                <input type="password" name="password2" placeholder="Confirm Your Password" class="form-control" required id="id_password2">
            </p>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</section>
{% endblock %}
