{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}  
  {% load django_bootstrap5 %}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <style>
    body{
      background-color: #232b2b;
      color: #f2efe9;
    }
    .card {
      background-color: #8a8583;
    }
    ul{
      list-style-type: none;
    }
  </style>
</head>
<body>
<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid m-auto d-flex justify-content-around">
      <ul class="nav bg-dark ">
        <li class="nav-item ">
          <a class="navbar-brand" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'userauths:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'userauths:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'userauths:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>  

  
  {% block content %}
  {% endblock %}
 
</body>
</html>