{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid m-auto d-flex justify-content-around">
      <ul class="nav bg-dark ">
        <li class="nav-item ">
          <a class="navbar-brand" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'userauths:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'userauths:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'userauths:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>  

  
  {% block content %}
  {% endblock %}
 
</div>
</body>
</html>